/* Created by:
    - Nome: Pasquale
    - Cognome: Pagano
    - Matricola: 0124003182
    - Corso di Laurea: Informatica
    - Anno Accademico: 2025/2026
            &
    - Nome: Daniele
    - Cognome: Mele
    - Matricola: 0124003006
    - Corso di Laurea: Informatica
    - Anno Accademico: 2025/2026

*/

/* ====== SFONDO GENERALE ====== */
body {
    font-family: 'Inter', sans-serif;
    background: url("../img/background.png") no-repeat center center fixed;
    background-size: cover;
}

/* ====== CARD PRINCIPALE (Effetto Glassmorphism) ====== */
.login-card {
    background: rgba(245, 245, 245, 0.60); /* Sfondo bianco, opacità 15% */
    backdrop-filter: blur(10px); /* Sfoca l'area sottostante la card */
    -webkit-backdrop-filter: blur(10px); /* Per la compatibilità con Safari */
    width: 480px;
    padding: 3rem 3rem;
    padding-top: 1rem;
    border-radius: 55px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.3); /* Aumenta leggermente il bordo per farlo risaltare */
    min-height: 500px;
}

/* ====== LOGO ====== */
.w-full.max-w-sm svg {
    color: #0E6BA8;
}

/* ====== TITOLI E TESTI ====== */
h1 {
    color: #0E2F44 !important;
    font-weight: 700 !important;
}

p {
    letter-spacing: 2px;
}

/* ====== INPUT ====== */
input[type="text"],
input[type="password"] {
    background: #FFFFFF;
    border: 1px solid #C7D5E0;
    border-radius: 12px;
    font-size: 0.95rem;
    transition: all 0.2s ease;
}

input:focus {
    border-color: #0B5788;
    box-shadow: 0 0 5px rgba(14, 107, 168, 0.3);
}

/* ====== CHECKBOX ====== */
#remember-cf {
    accent-color: #0B5788;
}

/* ====== BOTTONE LOGIN ====== */
.btn-primary {
    background: #0B5788 !important;
    border-radius: 14px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    transition: 0.2s ease;
}

.btn-primary:hover {
    background: #0B5788 !important;
}

/* ====== LINK PASSWORD DIMENTICATA ====== */
a {
    font-weight: 500;
}

/* ====== FOOTER ====== */
.text-xs {
    opacity: 0.8;
}
.input-wrapper {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    opacity: 0.6;
    pointer-events: none;
}

.input-with-icon {
    padding-left: 48px !important; /* spazio per l'icona */
}

/* Placeholder spostato */
.input-with-icon::placeholder {
    color: #9ca3af;
}

/* Per superare qualsiasi reset Tailwind */
.input-with-icon::-webkit-input-placeholder { padding-left: 2px; }
.input-with-icon::-moz-placeholder { padding-left: 2px; }
.input-with-icon:-ms-input-placeholder { padding-left: 2px; }
.input-with-icon::placeholder { padding-left: 2px; }

.title-access {
    color: #0B5788 !important;
    font-size: 2 rem;
    font-weight: 600;
}