<!--
- Nome: Pasquale
    - Cognome: Pagano
    - Matricola: 0124003182
    - Corso di Laurea: Informatica
    - Anno Accademico: 2025/2026
            &
    - Nome: Daniele
    - Cognome: Mele
    - Matricola: 0124003006
    - Corso di Laurea: Informatica
    - Anno Accademico: 2025/2026
-->

<h1 class = "text-3xl font-bold"> Dashboard</h1>
<table class = "admin-table">
    <thead>
        <tr>
            <th>Nome Committente</th>
            <th>Luogo</th>
        </tr>
    </thead>
    <tbody id = "dashboard-table-body"></tbody>
</table>