<!--
- Nome: Pasquale
    - Cognome: Pagano
    - Matricola: 0124003182
    - Corso di Laurea: Informatica
    - Anno Accademico: 2025/2026
            &
    - Nome: Daniele
    - Cognome: Mele
    - Matricola: 0124003006
    - Corso di Laurea: Informatica
    - Anno Accademico: 2025/2026
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_sysadmin.css') }}">
</head>

<body class="min-h-screen flex justify-center px-3 relative overflow-y-auto font-sans">

    <div class="dashboard-card text-center z-10 mx-auto">
        <div class="header-strip flex items-center justify-start">
            <div class="flex items-center header-content">
                <img src="{{ url_for('static', filename = 'img/logo.png') }}" class="logo-contained"
                    alt="Logo Azienda Edile">

                <span class="ml-4 font-bold text-2xl">Azienda Edile</span>
            </div>
        </div>

        <div class="inte">
            <h1 class="text-3xl font-bold text-left mb-5">Gestione amministratori</h1>
            <!-- PULSANTE AGGIUNGI AMMINISTRATORE AZIENDALE -->
            <div class="text-left">
                <button onclick="openAddModal()" class="add-btn">
                    + Aggiungi Amministratore
                </button>
            </div>
        </div>

        <div class="">
            <!-- TABELLA AMMINISTRATORI AZIENDALI -->
            <div class="table-card">
                <table class="admin-table">
                    <thead>
                        <tr class="text-left border-b border-gray-300/50">
                            <th class="pb-3 w-[25%]">Codice Fiscale</th>
                            <th class="pb-3 w-[20%]">Nome</th>
                            <th class="pb-3 w-[20%]">Cognome</th>
                            <th class="pb-3 w-[20%]">Data Nascita</th>
                            <th class="pb-3 w-[15%] text-center">Azione</th>
                        </tr>
                    </thead>
                    <tbody id="admin-table-body"></tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- MODALE AGGIUNGI AMMINISTRATORE AZIENDALE -->
    <div id="add-admin-modal" class="modal hidden">
        <div class="modal-content">
            <h3 class="text-xl font-bold mb-4">Nuovo Amministratore</h3>

            <input id="new_cf" class="input-field" type="text" placeholder="Codice Fiscale">
            <input id="new_nome" class="input-field" type="text" placeholder="Nome">
            <input id="new_cognome" class="input-field" type="text" placeholder="Cognome">
            <input id="new_password" class="input-field" type="password" placeholder="Password">
            <input id="new_dataNascita" class="input-field" type="date">

            <div class="flex justify-end mt-4 gap-3">
                <button onclick="closeAddModal()" class="cancel-btn">Annulla</button>
                <button onclick="createAdmin()" class="confirm-btn">Crea</button>
            </div>
        </div>
    </div>

    <!-- MODALE MODIFICA AMMINISTRATORE -->
    <div id="edit-admin-modal" class="modal hidden">
        <div class="modal-content">
            <h3 class="text-xl font-bold mb-4">Modifica Amministratore</h3>

            <input id="edit_cf" class="input-field" type="text" disabled>
            <input id="edit_nome" class="input-field" type="text" placeholder="Nome">
            <input id="edit_cognome" class="input-field" type="text" placeholder="Cognome">
            <input id="edit_password" class="input-field" type="password" placeholder="Nuova password">
            <input id="edit_dataNascita" class="input-field" type="date">

            <div class="flex justify-end mt-4 gap-3">
                <button onclick="closeEditModal()" class="cancel-btn">Annulla</button>
                <button onclick="updateAdmin()" class="confirm-btn">Salva</button>
            </div>
        </div>
    </div>

    <!-- MODALE DI SUCCESSO -->
    <div id="success-modal" class="modal hidden">
        <div class="modal-content flex flex-col items-center text-center">

            <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 text-green-600 mb-3 mx-auto" fill="none"
                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>

            <h3 class="text-xl font-bold mb-2">Operazione completata</h3>
            <p id="success-message" class="text-gray-700 mb-5">Operazioni completata</p>

            <button onclick="closeSuccessModal()" class="confirm-btn px-6">
                OK
            </button>
        </div>
    </div>

    <!-- MODALE CONFERMA ELIMINAZIONE -->
    <div id="delete-modal" class="modal hidden">
        <div class="modal-content">
            <h3 class="text-xl font-bold mb-4">Conferma Eliminazione</h3>

            <p id="delete-message" class="text-gray-700 mb-5">
                Sei sicuro di voler eliminare questo amministratore?
            </p>

            <div class="flex justify-end mt-4 gap-3">
                <button onclick="closeDeleteModal()" class="cancel-btn">Annulla</button>
                <button id="confirm-delete-btn" class="delete-btn">Elimina</button>
            </div>
        </div>
    </div>



    <script src="{{url_for( 'static', filename= 'dashboard_sysadmin.js')}}"></script>
</body>

</html>