<!--
- Nome: Pasquale
    - Cognome: Pagano
    - Matricola: 0124003182
    - Corso di Laurea: Informatica
    - Anno Accademico: 2025/2026
            &
    - Nome: Daniele
    - Cognome: Mele
    - Matricola: 0124003006
    - Corso di Laurea: Informatica
    - Anno Accademico: 2025/2026
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard capocantiere</title>

        <!-- CSS PERSONALIZZATO -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_operaio.css') }}">
    </head>
    <body>
        <div class="dashboard-card">
            <!-- CODE HERE -->
        </div>
    </body>
</html>