<!--
- Nome: Pasquale
- Cognome: Pagano
- Matricola: 0124003182
- Corso di Laurea: Informatica
- Anno Accademico: 2025/2026
        &
- Nome: Daniele
- Cognome: Mele
- Matricola: 0124003006
- Corso di Laurea: Informatica
- Anno Accademico: 2025/2026
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard SysAdmin</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_sysadmin.css') }}">
</head>

<body class="min-h-screen flex justify-center px-3 relative overflow-y-auto font-sans">

    <div class="dashboard-card text-center z-10 mx-auto">

        <!-- Header -->
        <div class="header-strip flex items-center justify-start">
            <div class="flex items-center header-content">
                <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo-contained"
                    alt="Logo Azienda Edile">

                <span class="ml-4 font-bold text-2xl">Azienda Edile</span>
            </div>
        </div>

        <!-- Titolo + pulsante aggiungi -->
        <div class="flex items-center justify-between mb-5">
            <h1 class="text-3xl font-bold text-left m-0">Gestione amministratori, <span id="user-name"></span></h1> <!-- span per mostrare il nome utente loggato, DA SPOSTARE -->

            <button onclick="openAddModal()" class="add-btn">Aggiungi Amministratore</button>
        </div>

        <!-- Tabella amministratori -->
        <div class="table-card">
            <table class="admin-table">
                <thead>
                    <tr class="text-left border-b border-gray-300/50">
                        <th class="pb-3 w-[18%]">Codice Fiscale</th>
                        <th class="pb-3 w-[20%]">Nome Azienda</th>
                        <th class="pb-3 w-[12%]">Nome</th>
                        <th class="pb-3 w-[12%]">Cognome</th>
                        <th class="pb-3 w-[10%]">Data</th>
                        <th class="pb-3 w-[13%]">Telefono</th>
                        <th class="pb-3 w-[15%] text-center">Azione</th>
                    </tr>
                </thead>
                <tbody id="admin-table-body"></tbody>
            </table>
        </div>

    </div>

    <!-- MODALE AGGIUNGI AMMINISTRATORE -->
    <div id="add-admin-modal" class="modal hidden">
        <div class="modal-content">
            <h3 class="text-xl font-bold mb-4">Nuovo Amministratore</h3>

            <small id="err_new_cf" class="text-red-500 text-sm hidden">Il codice fiscale deve essere di 16 caratteri.</small>
            <input id="new_cf" class="input-field" type="text" placeholder="Codice Fiscale">

            <small id="err_new_azienda" class="text-red-500 text-sm hidden">È necessario specificare quale azienda gestisce</small>
            <input id="new_azienda" class="input-field" type="text" placeholder="Nome Azienda che gestisce">

            <small id="err_new_nome" class="text-red-500 text-sm hidden">Il nome è obbligatorio.</small>
            <input id="new_nome" class="input-field" type="text" placeholder="Nome">

            <small id="err_new_cognome" class="text-red-500 text-sm hidden">Il cognome è obbligatorio.</small>
            <input id="new_cognome" class="input-field" type="text" placeholder="Cognome">

            <small id="err_new_password" class="text-red-500 text-sm hidden">La password è obbligatoria.</small>
            <input id="new_password" class="input-field" type="password" placeholder="Password">

            <small id="err_new_dataNascita" class="text-red-500 text-sm hidden">Data di nascita non valida.</small>
            <input id="new_dataNascita" class="input-field" type="date">

            <small id="err_new_numeroTelefono" class="text-red-500 text-sm hidden">Il numero di telefono è obbligatorio.</small>
            <input id="new_NumeroTelefono" class="input-field" type="text" placeholder="Numero di telefono">

            <div class="flex justify-end mt-4 gap-3">
                <button onclick="closeAddModal()" class="cancel-btn">Annulla</button>
                <button onclick="createAdmin()" class="confirm-btn">Crea</button>
            </div>
        </div>
    </div>

    <!-- MODALE MODIFICA AMMINISTRATORE -->
    <div id="edit-admin-modal" class="modal hidden">
        <div class="modal-content">
            <h3 class="text-xl font-bold mb-4">Modifica Amministratore</h3>

            <input id="edit_cf" class="input-field" type="text" disabled>

            <input id="edit_azienda" class="input-field" type="text" disabled><span id="user-name"></span>


            <small id="err_edit_nome" class="text-red-500 text-sm hidden">Il nome è obbligatorio.</small>
            <input id="edit_nome" class="input-field" type="text">

            <small id="err_edit_cognome" class="text-red-500 text-sm hidden">Il cognome è obbligatorio.</small>
            <input id="edit_cognome" class="input-field" type="text">

            <small id="err_edit_password" class="text-red-500 text-sm hidden">La password è obbligatoria.</small>
            <input id="edit_password" class="input-field" type="password" placeholder="Nuova password">

            <small id="err_edit_dataNascita" class="text-red-500 text-sm hidden">Data di nascita non valida.</small>
            <input id="edit_dataNascita" class="input-field" type="date">

            <small id="err_edit_numeroTelefono" class="text-red-500 text-sm hidden">Numero telefono obbligatorio.</small>
            <input id="edit_NumeroTelefono" class="input-field" type="text">

            <div class="flex justify-end mt-4 gap-3">
                <button onclick="closeEditModal()" class="cancel-btn">Annulla</button>
                <button onclick="updateAdmin()" class="confirm-btn">Salva</button>
            </div>
        </div>
    </div>

    <!-- MODALE SUCCESSO -->
    <div id="success-modal" class="modal hidden">
        <div class="modal-content flex flex-col items-center text-center">

            <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 text-green-600 mb-3 mx-auto" fill="none"
                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>

            <h3 class="text-xl font-bold mb-2">Operazione completata</h3>
            <p id="success-message" class="text-gray-700 mb-5"></p>

            <button onclick="closeSuccessModal()" class="confirm-btn px-6">OK</button>
        </div>
    </div>

    <!-- MODALE ELIMINAZIONE -->
    <div id="delete-modal" class="modal hidden">
        <div class="modal-content">
            <h3 class="text-xl font-bold mb-4">Conferma Eliminazione</h3>

            <p id="delete-message" class="text-gray-700 mb-5"></p>

            <div class="flex justify-end mt-4 gap-3">
                <button onclick="closeDeleteModal()" class="cancel-btn">Annulla</button>
                <button id="confirm-delete-btn" class="delete-btn">Elimina</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='dashboard_sysadmin.js') }}"></script>
</body>

</html>